body {
  width:70vw;
  margin: 0 auto;

}
button {
 
  padding: 1px;
  min-width: 150px;
  margin: 15px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: gray;
  background-color: #fff;

  border: none;
  border-radius: 0px;
  border-bottom: 2px solid gray;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
  outline: 0 !important;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
}
body button:hover, body button:active {
  
  border: none;
}

p {
  color: gray;
  
  padding: 10px;
  font-family: 'lato';
  font-size: 16px;
  font-weight: 200;
  
 
}